<div class="test_div_circ"></div>
<input type="test" class="test_div_circ2">
<script>
    $(function() {
        $(".test_div_circ2").dial({
            'thickness': 0.02,
            'bgColor': 'green'
        });
    });
</script>
