<ul class="welcome_note_items">
  <li class="item_1">
    <h4>Welcome to stress-free daily accountant</h4>
    <p>
      Our Daily counter and Budget interface helps you monitor
      every hour from time in and out, count them, and total your daily
      work hours, and total your income. Then quickly determine if that
      affect your finances adversely now and down the road
    </p>
  </li>
  <li class="item_1">
    <h4>Welcome to stress-free daily accountant</h4>
    <p>
      Our Daily counter and Budget interface helps you monitor
      every hour from time in and out, count them, and total your daily
      work hours, and total your income. Then quickly determine if that
      affect your finances adversely now and down the road
    </p>
  </li>

</ul>