<div class="row">
  <div class="four columns user_panel">
    <ul class="user_list_panel">
      <li>
        <div class="row">
          <div class="two columns">
            number

          </div>
          <div class="four columns">
            data
          </div>
        </div>
      </li>
    </ul>

  </div>

  <div class="seven columns user_panel_data">

  </div>


</div>