<ul class="index_user_panel">
  <li class="this_panel_item">
        <h6>Account Overview: <%= link_to current_user.username, user_path(current_user.id) %></h6>

  </li>
  <li class="this_panel_item">
    <h6>Current Month: <%= link_to userCurrentMonth, month_path(getMonthId) if current_user.months.present?%></h6>
  </li>
  <li class="this_panel_item">
    <%= render 'user_data_2' %>
  </li>
  <li class="this_panel_item">
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
  </li>
</ul>





