<% if user_signed_in? %>
    <%= render 'user_logged_in' %>
<% else %>
   <div class="index_advertisement_notes">
        <div class="note_header">
          Software built to give you a focus to your money
        </div>
   </div>

    <div class="row centered index_ads_list">
      <div class="four columns">
      </div>
      <div class="eight columns">
        <%= render 'index/index_welcome_notes' %>
      </div>
      <div class="end"></div>
    </div>

<% end %>