<tr>
  <td class="totalTimeIn"><%= @totalTimeIn %></td>
  <td class="totalTimeOut"><%= @totalTimeOut %></td>
  <td class="totalDailyWorkingHours"><%= @totalDailyWorkingHours %></td>
  <td class="totalCashAmount"><%= number_to_currency(@totalCashAmount, :locale => :ja) %></td>
  <td>Total</td>
</tr>