/* VARIABLES */
$main-border-color:#d6d6d6;

/* LINKS VARIABLES */
$link-color-hover: #91cef4;
$link-color:#00acec;

/* FONT COLORS */
$blue-font-color:#00acec;
$green-font-color:#33a457;

/* ADD NOTES COLOR */
$ads_notes_colors: #b5b5b5;
$note_header_bg_colors: #fff;

/* WELCOME NOTE ITEMS */
$welcome_note_li: #fcfcfc;


/* SECONDARY BACKGROUND */
$secondary_banner_header:url(image_path("1.jpg"));

/*WOOD BACKGROUND */
$wood_background:url(image_path("wood1.gif"));

/* MIXINS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($distance, $spread, $opacity) {
  /* BOX SHADOW */
  -webkit-box-shadow: 0px $distance $spread rgba(50, 50, 50, $opacity);
  -moz-box-shadow:    0px $distance $spread rgba(50, 50, 50, $opacity);
  box-shadow:         0px $distance $spread rgba(50, 50, 50, $opacity);
}

@mixin box-shadow-rgb($distance, $spread, $r, $g, $b, $opacity) {
/* BOX SHADOW */
  -webkit-box-shadow: 0px $distance $spread rgba($r, $g, $b, $opacity);
  -moz-box-shadow:    0px $distance $spread rgba($r, $g, $b, $opacity);
  box-shadow:         0px $distance $spread rgba($r, $g, $b, $opacity);
}

@mixin box-shadow-2($distance, $spread, $blur) {
  -moz-box-shadow: 1px $distance $spread rgba(50, 50, 50, $blur);
  -webkit-box-shadow: 1px 3px 8px #000000;
  box-shadow: 1px $distance $spread rgba(50, 50, 50, $blur);
}

@mixin box-shadow-whihte-thick {
  box-shadow:
    0 2px 2px rgba(0,0,0,0.2),
    0 1px 5px rgba(0,0,0,0.2),
    0 0 0 12px rgba(186,239,255,0.5);
  /*     0 0 0 12px rgba(255, 255, 255, 0.4); */

}
@mixin box-shadow-white-thick2 {
  box-shadow:
    0 2px 2px rgba(0,0,0,0.2),
    0 1px 5px rgba(0,0,0,0.2),
    0 0 0 12px rgba(255, 255, 255, 0.4);

}

/* TEXT SHADOWS */
@mixin text_shadow_1 {
  text-shadow: 0px 3px 12px rgba(150, 150, 150, 1);
}
@mixin text_shadow_2 {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);

}

/* GRADIENT BACKGROUND */
@mixin gradient_background_1 {
  background: rgb(235, 235, 235);
  background: -moz-linear-gradient(92deg, rgb(235, 235, 235) 0%, rgb(97, 189, 240) 89%);
  background: -webkit-linear-gradient(92deg, rgb(235, 235, 235) 0%, rgb(97, 189, 240) 89%);
  background: -o-linear-gradient(92deg, rgb(235, 235, 235) 0%, rgb(97, 189, 240) 89%);
  background: -ms-linear-gradient(92deg, rgb(235, 235, 235) 0%, rgb(97, 189, 240) 89%);
  background: linear-gradient(92deg, rgb(235, 235, 235) 0%, rgb(97, 189, 240) 89%);
}

@mixin gradient_background_grey {
// needs latest Compass, add '@import "compass"' to your scss
  background-color: #eeeeee; // Old browsers
  @include filter-gradient(#eeeeee, #cccccc, vertical); // IE6-9
  @include background-image(linear-gradient(top, #eeeeee 0%,#cccccc 100%));
}

@mixin gradient_bg_white {
// needs latest Compass, add '@import "compass"' to your scss
  background-color: rgb(238,238,238); // Old browsers
  @include filter-gradient(#eeeeee, #eeeeee, vertical); // IE6-9
  @include background-image(linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%));

}

@mixin gradient_bg_white2 {
// needs latest Compass, add '@import "compass"' to your scss
  background-color: rgb(255,255,255); // Old browsers
  @include filter-gradient(#ffffff, #e5e5e5, vertical); // IE6-9
  @include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%));

}

@mixin gradient_bg_white_3d {
// needs latest Compass, add '@import "compass"' to your scss
  background-color: rgb(255,255,255); // Old browsers
  @include filter-gradient(#ffffff, #e5e5e5, vertical); // IE6-9
  @include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%)) ;

}

/* ADVANCED BOX SHADOW */
@mixin advance_box_shadow {
  &:before, &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 30px;
    left: 17px;
    width: 80%;
    top: 60%;
    min-width:300px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  &:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 17px;
    left: auto;
  }

}