// Place all the styles related to the index controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "jp_styles.css.scss";

#user_column {
  width: 260px;
  float: left;

  #user_table {
    #user_data_table {
      width: 250px;
      border: 1px solid $main-border-color;
      padding: 0px 0px 5px 4px;
      margin: 0px;
      min-height: 200px;
      @include border-radius(5px);

    }
    .user_data1 {
      border: 1px solid $main-border-color;
      width:240px;
      padding: 0px;

      @include border-radius(3px);
    }

  }
}


#main_data {
  width: 650px;
  margin-left: 230px;
}

#monthlyBilltable {
  width: 95%;
  border: 1px solid $main-border-color;
  padding: 5px;
    tr {
      td.title {
        width: 150px;
      }
      td.amount {
        width: 100px;
      }
      td.duedate {
        width: 100px;
      }
      td.confirmation {
        width: 100px;
      }
      td.viewmore {
        width: 100px;
      }
    }
}

.index_advertisement_notes {
  width: 80%;
  margin: 0 auto;
  color: $ads_notes_colors;
  .note_header {
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    background: #fff;

    position: relative;
    border-radius: 4px;

    &:before, &:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width:300px;
      background: rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
      -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
      box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }

    &:after {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }
  }
}

.index_ads_list {
  width: 90%;
  margin: 50px auto;

}

.test_div_circ {
  width: 200px;
  height: 200px;
  border: 1px solid $main-border-color;
  -webkit-border-radius: 100px;
}

ul.welcome_note_items {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    background: $welcome_note_li;
    @include border-radius(4px);
    padding: 7px;
    &:before, &:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 10px;
      left: 10px;
      width: 80%;
      top: 80%;
      width:300px;
      background: rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
      -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }

    &:after {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }

  }
}