
<% if determineWhatPage("index") %>
    <% if !user_signed_in? %>
        Wouldn't be nice, <br />
        if you could track your <br />
        Daily Income and Budget?
    <% else %>
        you are signed in <%= current_user.username %> <%= current_user.id %>
        <% if current_user.years.empty? || current_user.months.empty? %>
            You currently have no year or month registered
        <% end %>
    <% end %>
<% elsif determineWhatPage("registrations") %>
    <div class="registration_content">
      By Registering, <br />
      You can view your daily income<br />
      in a perspective view. <br />
      In just a few clicks!
    </div>
<% elsif determineWhatPage("sessions")%>
    <div class="session_new_content">
      Start updating those <br />
      Daily time in and outs <br />
      Quickly!
    </div>
<% elsif determineWhatPage("users#index") %>
    test

<% end %>