<% if !user_signed_in? %>
    <p class="header-context text-center">
      A Personal Daily accountant that
      <br />
      <span style="color: #de8d59;">records, </span>
      <span style="color: #00acec;"> calculate,</span> and
      <span style="color: #b1d29d;"> chart</span>
      your daily income from your work.
    </p>
<% end %>
